.eventos-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 4px;
}

.banner-evento {
    height: 100px;
    width: fit-content;
}

.evento-detalle-container {
    color: whitesmoke;
}